<table class="body-wrap">
    <tr>
        <td></td>
        <td class="container" width="600">
            <div class="content">
                <table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope itemtype="http://schema.org/ConfirmAction">
                    <tr>
                        <td class="content-wrap">
                            <meta itemprop="name" content="Confirm Email"/>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="content-block">
                                        Dear <%= username %>,
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block">
                                        Thank you for registering. We are happy to welcome you as a ItPrint3D customer.
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block">
                                        We are happy to answer any questions that you have via <a href="mailto: itprints3d@gmail.com">itprints3d@gmail.com</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
                                        <a href="http://www.itprints3d.com" class="btn-primary" itemprop="url">Visit ItPrints3D</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block">
                                        Enjoy shopping at ItPrints3D!
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block">
                                        Your ItPrints3D team.
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <div class="footer">
                    <table width="100%">
                        <tr>
                            <td class="aligncenter content-block">Follow <a href="http://twitter.com/mail_gun">@Mail_Gun</a> on Twitter.</td>
                        </tr>
                    </table>
                </div></div>
        </td>
        <td></td>
    </tr>
</table>